.game-field__container {
    padding: 10px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.05);
    margin-top: clamp(5px, 2vh, 23px);
    width: calc(100vh + 100px);
    overflow-y: clip;
}

.game-field {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: clamp(560px, calc(100vh - 111px), 1440px);
    border-radius: 5px;
}

.game-field.blocked::before {
    content: '';
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
}

.game-field.extended,
.game-field.extended-plus {
    grid-template-columns: repeat(6, 1fr);
}



